<!-- Main Content -->
<div class="container mt-4">

  <div class="row">
    <div class="col-lg-6">
      <div class="row">
        <img src="{{ data.picture }}" class="img-fluid" alt="Responsive image" style="height: 350px">

      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
          <div class="row">
            <div class="col-lg-10">
              Name: &nbsp; {{ data.name  | uppercase}}
            </div>
          </div>

         <div class="row">
           <div class="col-lg-10">
             Last name: &nbsp;  {{ data.lastName | uppercase}}
           </div>
         </div>
      </div>
      <hr>
      <div class="row">
          Short biography: <br/>
            {{ data.biography }}
      </div>
    </div>
  </div>
</div>

<hr>
