<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h4>Some useful links for tips to write an awesome blog post </h4>
                                                   <!-- Prebaci ovu listu u nesto drugo -->
      <div class="list-group" >
        <a href="https://www.wordstream.com/blog/ws/2015/02/09/how-to-write-a-blog-post" class="list-group-item" target="_blank">
          How to Write an Awesome Blog Post in 5 Steps <span class="badge badge-default pull-right"> -  WordSteam </span>
        </a>
        <a href="https://blog.medium.com/best-practices-for-writing-on-medium-386506ae62b9" class="list-group-item" target="_blank">
          Best Practices for Writing <span class="badge badge-default pull-right"> -  Medium </span>
        </a>
        <a href="https://hackernoon.com/how-to-contribute-a-story-to-hacker-noon-1536c2587063" class="list-group-item" target="_blank">
          How to Contribute a Story <span class="badge badge-default pull-right"> -  Hackernoon </span>
        </a>
      </div>

      <form [formGroup]="createPost"   (ngSubmit)="onSubmit()">
        <div class="control-group">
          <div class="form-group floating-label-form-group controls">
            <label>Title</label>
            <input type="text" class="form-control" placeholder="Title"  formControlName="Title" >
          </div>
          <span *ngIf="(f.Title.dirty || f.Title.touched) && f.Title.invalid && f.Title.errors.required">
              <p class="help-block text-danger">  Title is required.</p>
          </span>
        </div>

        <div class="control-group">
          <div class="form-group floating-label-form-group controls">
            <label>Subtitle</label>
            <input type="text" class="form-control" placeholder="Subtitle"  formControlName="Subtitle">
          </div>
          <span *ngIf="(f.Subtitle.dirty || f.Subtitle.touched) && f.Subtitle.invalid && f.Subtitle.errors.required">
              <p class="help-block text-danger">  Subtitle is required.</p>
          </span>
        </div>

        <div class="control-group">
          <div class="form-group floating-label-form-group controls">
            <label>Text</label>
            <textarea rows="5" class="form-control" placeholder="Text"  formControlName="Text"></textarea>
            <p class="help-block text-danger"></p>
          </div>
          <span *ngIf="(f.Text.dirty || f.Text.touched) && f.Text.invalid && f.Text.errors.required">
              <p class="help-block text-danger">  Text is required.</p>
          </span>
        </div>

        <div class="form-group">
          <button type="submit"  [disabled]="!createPost.valid" class="btn btn-primary" > Send </button> <span> or </span>
          <button type="reset" (click)="revert()" class="btn btn-primary" > Revert </button>
        </div>

      </form>
    </div>
  </div>
</div>
